{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <meta name="keywords" content="掌上药店" />
    <meta name="description" content="掌上药店" />
    <meta name="format-detection" content="telephone=no, email=no" />
    <title>用户登陆</title>
    <style>
        html{
            cursor: pointer;
        }
        .img-circle{
            width: 50px;
        }
        .btn{
            width: 100%;
            font-size: 14px;
            border-radius: 40px;
        }
        .text-danger{
            display: block;
            line-height: 20px;
            position: relative;
        }
    </style>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script src="{% static 'bootstrap/js/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <style>

    </style>
    <script>         
    $(function(){
        // 初始化隐藏提示框
        $('.text-danger').hide()
        // 点击密码或者用户名框，提示文字消失
        $('#form-username').click(function(){
            $('.text-danger').hide()
        })
        $('#form-password').click(function(){
            $('.text-danger').hide()
        })
        // 点击登陆，发起post登陆
        $('.btn').click(function(){
            username = $('#form-username').val()
            password = $('#form-password').val()
            csrf = $('input[name="csrfmiddlewaretoken"]').val()
            send_msg = {'username':username,'password':password,'csrfmiddlewaretoken':csrf}
            $.post('/user/login_check/',send_msg,function(data){
                if(data.res == 0){
                    err = data.errmsg
                    $('.text-danger').text(err)
                    // 回调显示错误提示
                    $('.text-danger').show()
                }
                else if (data.res==1){
                    location.href=data.next_url
                }
            })
        })
    })
    </script>

    </head>
<body>
    <div class="container">
        <div class="row">
            <!-- 顶部空白页 -->
            <div class="col-xm-12">
                <h4 class="page-header text-center">欢迎登陆</h4>

            </div>
            <div class="col-sm-6 col-sm-offset-3 form-box">
                <div class="form-bottom">
                    <form>
                    {% csrf_token %}
                        <div class="form-group">
                            <label class="sr-only" for="form-username">用户名</label>
                            <input type="text" placeholder="电话号码或邮箱..." class="form-username form-control input-error" id="form-username">
                        </div>

                        <div class="form-group">
                            <label class="sr-only" for="form-password">密码</label>
                            <input type="password" placeholder="Password..." class="form-password form-control input-error" id="form-password">
                        </div>
                        <div class="col-sm-6 pull-left">
                            <p><a href="{% url 'user:register' %}">去注册</a></p>
                        </div>
                        <div class="col-sm-6 pull-right">
                            <p><a href="#">忘记密码</a></p>
                        </div>
                        <div class="col-xs-12 text-center">
                            <p class="text-danger">{{ errmsg }}</p>
                        </div>
        
                        <input type="button" class="btn" value="登陆"></input>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>